#adminjumbo{
	background-image: url('../images/7.jpg');
	background-size: cover;
	background-attachment: fixed;

}

#jumboheader{
	font-size: 100px;
	font-weight: 150%;
	color:#FFF !important;
	padding-left: -100%;
}

#adminthumb{
	height:200px;
}
#adminthumb:hover{
	background-color:#2CACE2;
	color:#FFF;
}
#admintext{
	margin-top: 20%;
	text-align: center;
	color:#2CACE2;
}

#adminthumb:hover #admintext{
	
	color:#FFF;
}

#logobanner{

	margin-top: 10%;
}