#housecarousel,#houseslider{
	;
	height:400px;

	background-color: black;;
	
	margin-bottom: 10%;
	
}

.item img{

	width:100%;
	height:400px;
}

#housecarousel .item{
	background-color: black;;
	height: 400px;
}

#details{
	margin-top: 15px;
}

#details h2{



font-family: 'Pacifico', cursive;
color:#2CACE2;


}

#number{
	font-size: 32px;
}

.qualitybadge{
	transform:translateY(-480px);
	-webkit-transform:translateY(-480px);
	-moz-transform:translateY(-480px);
	-o-transform:translateY(-480px);
}

.fa{

color:#2D368F;

}

#morepicsthumb{
	height:280px !important;
}

#morepicsthumb img{
	height:200px !important;
	transform:transition 0.3s;
}

#morepicsthumb img:hover{
	transform:scale(1.5);
}

#listpicsthumb{
	height:280px !important;
}

#listpicsthumb img{
	height:200px !important;
	transform:transition 0.3s;
}







