/*Set the parent <li>’s CSS position property to ‘relative’.*/


.right {
    list-style: none;
    padding: 0;
    margin: 0;
}
.right li {
    display: block;
    position: relative;
    float: left;
}

/*The CSS to hide the sub menus.*/
li ul { display: none; }
.right li a {
    display: block;
   padding:0 15px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}
.right li a:hover {
 background: #FFF;
 color:#2CACE2;
 }

/*Displays the dropdown menu on hover.*/
li:hover > ul {
    display: block;
    position: absolute;
}
li:hover li { float: none; }
li:hover a { background: #FFF; }
li:hover li a:hover { background: #2c3e50; }


.right li ul li { border-top: 0; }

/*Displays second level dropdown menus to the left of the first level dropdown menu.*/
.right ul ul {
    right: 100%;
    top: 0;
}

/*Simple clearfix*/
.right:before,
.right:after {
    content: " "; /* 1 */
    display: list-item; /* 2 */
}
.right:after { clear: both; }