body{

	font-family: 'Open Sans', sans-serif;
	height:100%;
}



html{
	height:100%;
}

#line{
	width:40%;
}

#longerline{
	width:80%;
}

#content{
	margin-top: 100px;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}

.push{
  height: 200px;
}

#property-list{
	background-image: url("/resources/images/header.jpg");
	background-attachment: fixed;
	background-size: cover;
}

#property-list-header{
	padding-top: 0%;
	background-color: transparent;
	color: darkgreen;
}

#header{
	font-size: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana;
	color: darkslategray;
	font-weight: 100;
}

#property-list-holder{
	padding-top: 1%;
}