#houseMainLink{
    background-image: url("/resources/images/house.jpg");
    background-size: cover;
    height: 500px;
    color: #000000;
}
#landMainLink{
    background-image: url("/resources/images/land.jpg");
    background-size: cover;
    color: ThreeDShadow;
    min-height: 500px;
}
#housePicHolder{
    background-size: cover;
    height: 600px;
    padding-top: 5%;
}
#housePicHolder h3{
  
    font-weight: 100;
}
#houseDetailContent{
    background: transparent;
    height: auto;
    max-height: 85%;
    width: 30%;
    margin-top: -80px;
    background-color: inherit;
    border-radius: 5px;
    border-bottom-width: 2px;
}
#card-panel{
    background-color: rgba(0,0,0,0.6) !important;
    margin-top: -25%;
    min-height: 515px;
    width: 80%;
}
#card-panel p{
    color: #ffffff;
}
#detailsrow1{
    background-color: #FFF;
    padding-top:3.5%;
    height: auto;
}
#downArrow{
    color: #F57C00;
    text-align: center;
    padding-top: 30%;
    margin-left: -70%;
    margin-bottom: -5%;
}
#houseDetails{
    padding-top: 5%;
    background-color:#FFF;
}


#sectionMainImage{
    background-size: cover;
    padding-top: 5%;
    min-height: 400px;
}

#translateCard{
    height: 150px;
    -moz-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    text-align: center;
    /*padding-top: 20%;*/
    box-shadow: none;
    background-color: #fafafa;
}

#sectionDescription{
    background-color: #26A69A;
}

#id1{
    background-color: #fafafa;
    padding-top: 5%;
    padding-bottom: 5%;
}

#id2{
    background-color: #fafafa;
    box-shadow: none;
}
#sectionDetails{
    background-color: #fce4ec;
}

#card-content{
    padding-top: 10%;
}

#card-image{
    height: 500px;
}