.navbar-default{
	background-color:rgba(255,255,255,0.7);
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	border-style: none;
	box-shadow: 0px 0px 3px #7f8c8d;
	
}
.navbar-default .navbar-nav >li>a{
	color:#2CACE2;
}


.navbar-brand{
	padding-top:0px;
}

nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
nav ul li {
	display:inline-block;
	position:relative;
}

/* sub navigation */
nav li ul {
	background-color:rgb(225,75,75);
	position:absolute;
	left:0;
	top:40px; /* make this equal to the line-height of the links (specified below) */
	width:200px;
}
nav li li {
	position:relative;
	margin:0;
	display:block;
}
nav li li ul {
	position:absolute;
	top:0;
	left:200px; /* make this equal to the width of the sub nav above */
	margin:0;
}

/* style all links */
nav a {
	line-height:40px;
	padding:0 12px;
	margin:0 12px;
}
nav a {
	color:#fff;
	text-decoration:none;
	display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
	color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
	border-bottom:solid 1px rgb(200,50,50);
	margin:0 10px;
	padding:0;
}
nav li li:last-child a {
	border-bottom:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
	background-image:url('../img/arrow-down.png');
	background-position:right 20px;
	background-repeat:no-repeat;
}

nav li li.dropdown > a {
	background-image:url('../img/arrow-right.png');
	background-position:right 16px;
	background-repeat:no-repeat;
}

/* hide sub menu links */
ul.sub-menu {
	display:none;
}

#logoutBtn:active{
	background-color: #ffff00;
}

#sub-menu-div{
	background-color: darkgreen;
}
