h1,h2,h3,h4,h5,p{
	font-family: 'Lora', serif;
}
body{
	background-color: #fcfcfc;
}
.side-nav a {
    color: #2CACE2;
   
}

.brand-logo{
	font-size: 1.7rem !important;
}
#socialmedia{
	padding-top: 5%;
	padding-bottom: 5%;
}

 #landdesc{
  text-align:left;
  padding-left: 1%;
  padding-right: 1%;
}

#landliner{
	width:30%;
	margin-left: 33%;
}

#bungalowliner{
	width:25%;
	margin-left: 35%;

}
#secimage{
	height:100%;
	width:100%;

}

#secimage img{
	height:100%;
	width:100%;
}

#bungalowname{
	color:#FFF;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: rgba(0,0,0,0.6);
	margin-left: 40%;
	margin-right: 30%;
}

#bungalowcards{
	padding-top: 3%;
}

#landlist{
	padding-top: 3%;
}

#leftliner{
	text-align: left;
	width:30%;
}

.slider .slides li {

	width:100% !important;
	left:0% !important;
}

#landbuttons{
	padding-top: 3%;
	display: block;
}

#newabout{
padding-top: 11% !important;
}

#darkblue{
	color: #2E368F;
}
#more{
	text-align: center;
}

#lightblue{
	color:#2CACE2;
}

#darkbluebtn{
	background-color:#2E368F;
	color:#FFF; 
}

#content{
	
	padding-top: 100px;
}

.row{
	margin-bottom: 0px;
}

.navbar-fixed{
	height: 0px;
}

#mynav{
	
	background-color:#2CACE2;
    border-style: none;
    box-shadow: none;
    color: #FFF;
	
}
#propdesctext{
	color:#FFF;
}

#mynav3{
	background-color: #2CACE2;
}

footer.page-footer {
	background-color: #2E2E2E;
	color:#FFF;

}

#myfooter{
	padding-top: 3%;
}

#header{
	margin-top: 0px;
	padding-top: 0px;
	background: url('/resources/images/nairobi.jpg') no-repeat center center  scroll;
	background-size: cover;
	height:600px;
	margin-bottom: 0px;
}

.intro-text{
	padding-top: 20%;
	color:#FFF;
	text-align: center;
}

#headbar{
	
	
	padding-top: 80px;
}
.header2{
	background: url('/resources/images/nairobi.jpg') no-repeat center center  scroll;
	background-size: cover;
	color:#FFF;
}

#skyplus {
    font-family: Pump Plain Font;
    font-size: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#latest{
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
}

@font-face {
  font-family: "Pump Plain Font";
  src: url("/resources/fonts/Pump Plain.ttf");
}

.sky {
    color: #2E368F;
}
.plus {
    background-color: #2CACE2;
    padding-top: 0px;
    padding-right: 10px;
    color: #FFF;
}

#mission{
	
	padding-top: 0px;
	padding-bottom: 0px;
	transition:0.4s;
	

}

#mission:hover{
	


}

#mission-text{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

#vision{
	background-color: #2CACE2;
	color:#FFF;
	transition:0.4s;
	
}

#vision:hover{
	
	}



#mv{
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-top: 5%;
	padding-bottom: 5%;
}

#maincard{
	height:auto;
}

#smallcard{
	height:auto;
}
#maindetails{
	padding-top:15%;
	padding-bottom:15%;
	

}
#maindetails h2{
	padding-top: 2.5%;
	color:#FFF;
}
#maindet{
	text-align:center;
}
#moresections{

}

.secnavbtn{
	padding-top: 5px;
	
	padding-bottom: 10px;
	
}
#liner{
	margin-left:30%;
	width:40%;
	
}
.moreimages{
	padding-top: 1%;
	text-align: center;
	padding-bottom: 1%;
}

#apartname{
	background-color: rgba(0,0,0,0.6);
	padding-right: 15px;
	padding-left:15px;
}

#maincategories{
	padding-top: 2.5%;
	padding-bottom: 5%;
	height:25%;
	background-color: #fcfcfc;
}
#apartmentdet{
	text-align: center;
}

#maincategories h2{
	color:#2E368F;
}

#skyplusbtn{
	background-color:#2CACE2;
}

#myaboutus{
	background: url('/resources/images/kimathi.jpg') no-repeat center center  scroll;
	background-size: cover;
	height:600px;
}
#overlay{
	background-color: rgba(0,0,0,0.6);
	height: 600px;
}

#aboutusintro{
	text-align: center;
	padding-top: 20%;
}

#abouthead h1{
	color: #2CACE2;
}

#aboutcontent{
	color: #FFF;
	padding-left: 10%;
	padding-right: 10%;
}

#scrolldown{
	color: #FFF;

}



#myservices{
	padding-top:3%;
	padding-bottom: 5%;
}


#propertymgmt{
	padding-top:3%;
	padding-bottom: 5%;

	
}


#consultancy, #rangeofservices{
    padding-top:5%;
	padding-bottom: 5%;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 0px;

}
#values{
	 padding-top:5%;
	padding-bottom: 5%;
	background-color: #f1f1f1;
	text-align: left;

}



#staff{
	 padding-top:5%;
	padding-bottom: 5%;
	background-color:#2E368F;
	color:#FFF;
}
#agency{
	 padding-top:5%;
	padding-bottom: 5%;

}
#rangeofservices{
	 padding-top:5%;
	padding-bottom: 5%;
	background-color: #f1f1f1;

}
#propertydist{
	 padding-top:5%;
	padding-bottom: 5%;

}

#consultancy{
	background-color:#2CACE2;
	color:#FFF;
}
#propertytext{
	text-align: left;
	
}
#consultancytext{
	text-align: center;
}

 .parallax-container {
      height:200px;
    }

 #rostext{
 	text-align: center;
 }
 #forrent{
 	background-color: #FFF;
 	
 	padding-bottom:3%;
 }
 #forsale{
 	padding-top:3%;
 	

 }
 #dropdown1,#dropdown2{
 	margin-top: 70px;
 	overflow: visible;
 	width:150px !important;
 }
 .dropdown-content li {
    width:100%;
}
 .dropdown-content li > a{

 	padding-right: 10px 10px;
 	display: block;

 	
 	width:500px;
 	

 }

 #lgform{
 	padding-top: 10%;
 	height:500px;
 }

 #adminnav{
 	background-color: #2E368F;
 }

 #detailsrow{
 	background-color: #FFF;
 	padding-top:5%;
 }

 #morephotos{
 	padding-top: 5%;
 	padding-bottom: 5%;
 }
#housedetailscard{
	text-align: center;
}

#facebook{
	padding-top: 5%;
 	padding-bottom: 5%;
	background-color: #FFF;
}
#contactemail{
	
 	padding-bottom: 5%;
 	padding-top: 5%;
 	background: url('/resources/images/4.jpg') no-repeat center center  scroll;
 	background-size: cover;
 	color:#FFF;


}

#contactusbox{
	margin-top: 15px;
	background:rgba(0,0,0,0.6);
	padding-bottom: 5%;
	padding-left: 5%;
}

#housetabs{
	min-height: 600px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fcfcfc;
}


  

#optionlist {
    display:inline-block;
   
    
  }

.content{
	color:#333;
	padding-top: 1%;
	padding-bottom: 1%;
}

.optionlist {
   min-width:300px; 
   margin-top: 80px;
  }
  
  .options-wrapper {
     overflow:auto;
     height:auto;
    }
    
 #morebtn{
 	text-align: center;
 }

#apartments{
	padding-top: 80px;
	background-color: #FFF;
}
#search{
	
	text-align: center;
	
	
}

#formrow{
	padding-top:1%;
	background-color: #FFF;
	padding-bottom:1%;
}

#frontcard img{
   height:60% !important;
}


.card-title{
	color:#FFF !important;
	background-color: rgba(0,0,0,0.6);
}
   
 /* media queries */

 @media(max-width:768px){
 	#skyplus{
 		font-size: 70px;
 	}

 	nav .brand-logo {
    
    font-size: 19px;
   
}

#bungalowname{
	margin-left: 2%;
	margin-right: 2%;
	
}

#housePicHolder{
	height:auto;
}

#card-panel{
	height:auto !important;
	margin-top:15% !important;
	width: 100% !important;
}

#maindetails h2 {
   
    font-size: 30px;
}
#apartname {
   
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
#maindet h5 {
   font-size: 17px;
}
#moresections h2 {
	font-size: 20px;
}
 }


#mainslider{
	height: 35%;
}

#maincaption{
	padding-top: 8%;
}